<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-fixed aside-secondary-disabled">
    
    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">

            <!--begin::Wrapper-->
            <div class=" d-flex flex-column flex-row-fluid" id="kt_wrapper">
            
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <!--begin::Container-->
                    <div class="container-xxl" id="kt_content_container">

                        <!--begin::Table-->
                        <div class=" card card-flush mt-6 mt-xl-9">
                        
                            <!--begin::Card header-->
                            <div class=" card-header mt-5">
                                <!--begin::Card title-->
                                <div class="card-title flex-column">
                                    <h3 class="fw-bolder mb-1">The Dreamer </h3>
                                    <div class="fs-6 text-gray-400">total of 8 weeks of homework.</div>
                                </div>
                                <!--begin::Card title-->
                            
                            </div>
                            <!--end::Card header-->

                            <!--begin::Card body-->
                            <div class="card-body pt-0">
                                
                                <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTTX5h8YBIOt_LI-uQkhdiNJp1MhdO2Acy3bIbKBRbid08fA5Ov0idpRXcUUBLSeHT2Ds5a9UEW-NPl/embed?start=false&loop=false&delayms=60000" frameborder="0" style="width:100%; aspect-ratio: 12/8" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                                

                                

                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Card-->



                    </div>
                    <!--end::Container-->
                </div>


            </div>
            <!--end::Wrapper-->
            
        </div>
        <!--end::Page-->
    </div>
    <!--end::Root-->
</body>
