<!DOCTYPE html>
<html lang="en">
	<body class="d-flex h-100 text-center text-white bg-dark" cz-shortcut-listen="true">    
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main class="px-3">
                <h1>Teacher's space.</h1>
                <p class="lead">Teacher page for Soar Institute</p>
                <p class="lead">
                    <a href="/teacher/new-teacher" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Join Soar as a teacher</a>
                </p>
            </main>
        </div>
    </body>
	<!--end::Body-->
</html>