
					<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
						<!--begin::Container-->
						<div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
							<!--begin::Copyright-->
							<div class="text-dark order-2 order-md-1">
								<span class="text-muted fw-bold me-1">2022©<%=@app_company%></span>
								<a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary"></a>
							</div>
							<!--end::Copyright-->
							<!--begin::Menu-->
							<ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
							
								<li class="menu-item d-none">
									<a href="https://keenthemes.com/support" target="_blank" class="menu-link px-2">지원문의</a>
								</li>
							
							</ul>
							<!--end::Menu-->
						</div>
						<!--end::Container-->
					</div>